/*caja con borde solido de 1px con un radio de 3px y un padding de 15px */
.containers{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 14px;
    } 
  
  
  
  .row{
    display: flex;
    color: grey;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  
   
  }
  
  .col-12{
    
    flex: 0 0 100%;
    color: grey;
    justify-content: center;
    max-width: 100%;
  }
  
  .image-gallery-slides {
    line-height: 0;
    white-space: nowrap;
    max-width: 100%;
  width: auto;
  }
  .content-card {
    background-color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid #ddd;
  }
  
  #technical-specifications-container h3 {
    font-size: 1.3rem;
    margin-bottom: 12px;
    font-weight: 300;
  }
  .image-gallery-image{
    box-sizing: border-box;
    display: block;
   
  }
  
  img{
    
    width: 100%;
    
  
  }

  /*check de compra*/
  .payment {
    border: 1px solid #f2f2f2;
    height: 280px;
    border-radius: 20px;
    background: #fff;
  }
  .payment_header {
    background: #a30e0e;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
  }
  
  .check {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
  }
  
  .check i {
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
  }
  
  .contents {
    text-align: center;
  }
  
  .contents h1 {
    font-size: 25px;
    padding-top: 25px;
  }
  
  .contents a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: #be3e3e;
    transition: all ease-in-out 0.3s;
  }
  
  .contents a:hover {
    text-decoration: none;
    background: #000;
  }