@import "~ed-grid/ed-grid";
@import "~edteam-style-guides/edteam-style-guides";

@include prototype('white-color', color, white);

body{
    background: radial-gradient(circle at 0% 100%, #faffff 0, #d8f0fa 25%, #b5def2 50%, #92cbeb 75%, #72b9e5 100%);
}

.main-header{
    background: rgb(73, 73, 143);
    
}



.main-menu a{
    color: white;
}

