@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
@import url(//db.onlinewebfonts.com/c/0c724f6aa457310440cf8949c615cbd7?family=Star+Jedi);
* {
  margin: 0;
}
* body {
  background-color: rgb(13, 13, 14);
}

.container__header {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  font-family: "Alfa Slab One", cursive;
}

.container__header__title--text {
  font-family: "Star Jedi";
  cursor: default;
}

.container__header__menu {
  padding-left: 5px;
}

.container__header__cartDiv {
  display: flex;
  flex-flow: row;
  font-family: "Roboto Condensed", sans-serif;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  padding-right: 5px;
}

.container__header__cartDiv--count {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 100%;
  cursor: default;
  background-color: red;
}

.container__header__cartDiv--list {
  display: none;
  min-width: 100px;
  right: 0;
  top: 50px;
  position: absolute;
  z-index: 999;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: rgba(223, 41, 41, 0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.container__header__cartDiv--list ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.container__header__cartDiv--list img {
  max-width: 100px;
}

.container {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.container .container__content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  background-color: rgb(14, 13, 13);
}
.container .container__content .container__content__title {
  height: 20vh;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.container .container__content .container__content__listBurgers {
  display: flex;
  flex-basis: 0;
  flex-wrap: wrap;
  min-width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.container .container__content .container__content__burgers {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 9px;
  padding: 10px;
  width: 200px;
  min-height: 200px;
  list-style: none;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 0 10px 2px #000;
  transition: 0.4s;
}
.container .container__content .container__content__burgers:hover {
  transform: translateY(20px);
}
.container .container__content .container__content__burgers .container__content__burgers--image {
  margin-top: -50px;
  max-width: 250px;
  max-height: 150px;
}
.container .container__content .container__content__burgers .container__content__burgers--nombre, .container .container__content .container__content__burgers .container__content__burgers--precio {
  color: white;
  font-family: 'Star Jedi';
}
.container .container__content .container__content__burgers .container__content__burgers--nombre {
  font-family: "Verdana", sans-serif;
  font-size: 1.4rem;
}
.container .container__content .container__content__burgers .container__content__burgers--precio {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.container .container__footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8rem;
}

.container__content__burgers--btnAdd {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #3028a8;
  text-shadow: 1px 0px #111;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 10px 0 10px;
}

.container__content__burgers--btnDel {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: rgb(102, 97, 97);
  text-shadow: 1px 0px #111;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
}

.container__content__burgers--btnClose {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  cursor: pointer;
  font-family: "Alfa Slab One", cursive;
  color: white;
  background-color: transparent;
  font-size: 1.2rem;
}

.container__header__cartDiv--btnCart {
  cursor: pointer;
  background-color: transparent;
  background-image: url("../components/images/cart.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
}

.container__header__menu--button {
  cursor: pointer;
  background-color: transparent;
  background-image: url("../components/images/menu.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
}

.container__content__burgers--btnDetels{
  cursor: pointer;
  color: white;
  border: 0;
  margin: 10px;
  background-color: #a19045;
  text-shadow: 1px 0px #111;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 10px 0 10px;
}


/*caja con borde solido de 1px con un radio de 3px y un padding de 15px */
.container{
  display: grid;
  background-color: white;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 14px;
  } 



.row{
  display: flex;
  color: grey;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;

 
}

.col-12{
  
  flex: 0 0 100%;
  color: grey;
  justify-content: center;
  max-width: 100%;
}

.image-gallery-slides {
  line-height: 0;
  white-space: nowrap;
  max-width: 100%;
width: auto;
}
.content-card {
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid #ddd;
}

#technical-specifications-container h3 {
  font-size: 1.3rem;
  margin-bottom: 12px;
  font-weight: 300;
}
.image-gallery-image{
  box-sizing: border-box;
  display: block;
}

img{
  
  width: 100%;

}